.distance-filter-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.distance-filter-input {
  width: 100px !important;
  height: 46px;
  border: none !important;
  border-radius: 0px !important;
  padding-left: 10px;
}

.distance-filter-input:focus {
  border-color: #FE991F !important;
  box-shadow: none !important;
}

.distance-filter-btn {
  padding: 10px 24px !important;
  background-color: #FE991F !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
  font-size: 14px;
  font-weight: 450;
  color: #FFFFFF !important;
  white-space: nowrap;
}

.distance-filter-btn:hover {
  background-color: transparent !important;
  border: 1px solid #FE991F !important;
  color: #FE991F !important;
}