header {
    height: 60px;
    width: 100%;
    background-color: #09388A;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-between;
}

header img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 10px;
}

header h4 {
    color: #FFFFFF;
    font-weight: Bold;
    display: inline;
    align-items: center;
    justify-items:center;
}