.route-card-flex {
    width: 350px;
    height: 200px;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.card-info-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 0;
    flex: 1;
}

.card-img-flex {
    width: 140px;
    height: 180px;
    object-fit: cover;
    flex-shrink: 0; /* Предотвращает сжатие картинки */
}

.card-info-text {
    width: 100%;
}

.card-info-text h4 {
    font-size: 14px;
    font-weight: 400;
    color: #001E42;
    margin: 0;
    word-wrap: break-word;
}

.card-info-text h5 {
    font-size: 12px;
    font-weight: 400;
    color: #001E42;
    margin: 4px 0 0 0;
}

.route-card-flex:hover {
    background-color: #09388A;
    cursor: pointer;
}

.route-card-flex:hover .card-info-flex h4 {
    color: #FFFFFF !important;
}

.route-card-flex:hover .card-info-flex h5 {
    color: #FFFFFF !important;
}

.add-to-draft-btn {
    background-color: #FE991F;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.add-to-draft-btn:hover {
    background-color: transparent;
    border: 1px solid #FE991F;
    color: #FE991F;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}